.container{
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 8px;
}

.title{
  font-size: 1.5rem; 
  line-height: 2rem; 
  font-weight: 600;
}

.list{
  margin-top: 1rem; 
}

.list-category{
  font-size: 1.25rem; 
  line-height: 1.75rem; 
  font-weight: 500;
  list-style: none; 
  padding: 5px; 
  margin: 0; 
}