.custom-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.custom-divider {
  opacity: 0.5;
  border: none;
  height: 1px;
  background-color: currentColor;
}

.color-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px; 
  max-width: 250px; 
}



.custom-color-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  gap: 8px; 
  margin-top: 10px;
  max-width: 300px; 
}

.custom-category {
  display: inline-flex; /*botões lado a lado */
  align-items: center;
  justify-content: center;
  padding: 6px 12px; 
  border-radius: 12px; 
  font-size: 14px; 
  font-weight: 600;
  color: white;
  transition: opacity 0.3s ease;
  min-width: auto; 
  max-width: 100px; 
  flex: 0 1 auto; /* Permite que os botões fiquem menores */
  opacity: 0.8;
}

.custom-category:hover {
  opacity: 1;
  user-select: none; /* Nao permite selecionar o elemento*/
}
