<form [ngClass]="{ 'cursor-not-allowed animate-pulse': isIncludeTaskFormDisabled(), 'cursor-pointer': !isIncludeTaskFormDisabled() }"
      autocomplete="off"
      class="form-container"
      [formGroup]="newTaskForm">

  <mat-form-field class="full-width">
    <mat-label>Tarefa</mat-label>
    <input formControlName="title" matInput placeholder="Adicionar tarefa"
           (keyup.enter)="onEnterToAddOrEditTask()">
    <mat-hint class="text-tertiary">Aperte Enter para confirmar</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoryId" (selectionChange)="selectionChangeHandler($event)">
      @for (category of categories(); track category.id) {
        <mat-option [value]="category.id">{{ category.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>


<!-- Campo de pesquisa -->
<mat-form-field class="full-width">
  <mat-label>Pesquisar</mat-label>
  <input matInput placeholder="Buscar tarefas" [(ngModel)]="searchQuery" (click)="clearTaskField()">
</mat-form-field>


<!-- Lista de tarefas -->
<ul class="task-list">
  @for (task of filteredTasks(); track task.id) {
    <li class="task-item">
      <!-- Adicionando ngClass para riscar a tarefa como concluída -->
      <span class="task-title" [ngClass]="{ 'completed': task.isCompleted }">
        {{ task.title }}
      </span>

      <div class="actions">
        <!-- Botão de Concluir -->
        <button mat-icon-button color="success" (click)="toggleTaskCompletion(task)">
          <mat-icon>{{ task.isCompleted ? 'undo' : 'check' }}</mat-icon>
        </button>

        <!-- Botão de Editar -->
        <button mat-icon-button color="primary" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>

        <!-- Botão de Deletar -->
        <button mat-icon-button color="secondary" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  }
</ul>


