.form-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  user-select: none;
}

.full-width {
  width: 100%;
}

.text-tertiary {
  color: #a3a3a3;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-title {
  flex-grow: 1;
}

.actions {
  display: flex;
  gap: 8px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
